.album-details {
  .back-to-results {
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 5px;

    &:hover {
      cursor: pointer;
      color: #2653D9;
    }
  }

  div {
    margin-bottom: 8px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  li:hover {
    cursor: pointer;
    color: #2653D9;
  }

  span:hover {
    cursor: pointer;
    color: #2653D9;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }
}