.result {
  width: 150px;

  &:hover {
    cursor: pointer;
    color: #2653D9;
  }

  .result-cover {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }

  .title {
    font-weight: bold;
  }
}